{% extends 'base.html.twig' %}

{% block title %}Hello Get my Bike
{% endblock %}

{% block body %}

	{% for moto in motos %}
	
		<div class="card mb-3 col-12  col-sm-12 col-md-9 col-lg-6">
			<div class="row no-gutters" >
				<div class="col-md-5 " >
					<img src={{ '/images/moto/' ~ moto.imageName }} class="card-img-top img-fluid img-thumbnail" alt="..." style="height: 25vh;">
				</div>
				<div class="col-md-7">
					<div class="card-body d-flex flex-column justify-content-between">
						<div class="d-flex flex-row justify-content-between">
							<h5 class="card-title">{{ moto.modele.libelle }}</h5>
							<button type="button" class="btn btn-outline-secondary stretched-link " data-bs-toggle="modal" data-bs-target="#ficheMoto{{ moto.id }}">
								<i class="fa-solid fa-list"></i>
							</button>
						</div >
						{# <p class="card-text">{{ moto.description }}</p> #}
						<div class=" d-flex">
							<div class="d-flex flex-column  justify-content-around align-items-center">
								<i class="fa-solid fa-star" style="color: orange;"></i>
								<i class="fa-solid fa-location-dot"></i>
							</div>
							<div class="d-flex flex-column  justify-content-around ps-1 ">
								<p class="card-text small text-muted mb-1 "> {{ moto.average|number_format(2, '.', ',') }}/5 ({{ moto.nombrenotes }})</p>
								<p class="card-text small text-muted mb-0 ">
								{% if moto.villemoto %}
									{{moto.villemoto}}
								{% else %} 
									{{ moto.proprietaire.user.ville }}
								{% endif %}
								</p>
							</div>
							
						</div>

						<div class="card-body text-dark d-flex flex-column align-self-end justify-self-end">
							<h4 class="card-title">{{ moto.prixjour }} €</h4>
							<p class="card-text">par jour</p>
						</div>
						
 
						<!-- Modal -->

						{# {{dump(moto)}} #}
						<div class="modal fade bd-example-modal-xl" id="ficheMoto{{ moto.id }}" tabindex="-1" aria-labelledby="annModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-xl">
									<div class="modal-content">
										{# <div class="modal-header">
											{# <h5 class="modal-title" id="annModalLabel">Sélection du fichier à importer</h5> #}
											{# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> 
										</div> #}
										<div class="modal-body">
											
										{# <section class="h-100 gradient-custom-2"> #}
											<div class="container  h-100 ">
												<div class="row d-flex justify-content-center align-items-center h-100">
												<div class="col col-lg-9 col-xl-7 w-100">
													<div class="card">

													<div class="card-body p-4">

														<div class="rounded-top d-flex flex-row justify-content-between border border-solid border-2 rounded border-0">

															{# image et titre #}
															<div class="card-body p-1 border border-solid border-2 rounded d-flex flex-column">	
																<div class="card w-75 border-0">
																	<div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
																		<img src={{ '/images/moto/' ~ moto.imageName }}
																			alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
																			style="width: 400px; z-index: 1">
																	</div>

																	<div class="card-body">
																		<h2>{{ moto.modele.libelle }}</h2>
																		<p class="card-text small text-muted mb-0 ps-3"><i class="fa-solid fa-star" style="color: orange;"></i> {{ moto.average|number_format(2, '.', ',') }}/5 ({{ moto.nombrenotes }})</p>
																	</div>
																</div>
															</div>

															{# prix et bouton reserver #}
															<div class="border border-solid border-2 border-black rounded p-2 w-25 d-grid gap-2 h-25 align-self-start text-center">
																<p class="mb-1 h3">{{ moto.prixjour }} €</p>
																<p class="small text-muted mb-0">/ par jour</p>
																<button type="button " class="btn btn-primary mt-2 ">Reserver</button>
															</div>
														</div>
													</div>

													<div class="card-body p-4 text-black ">
														
														<div class="mb-5 w-75">
														<p class="lead fw-normal mb-1">Adresse de départ et de retour</p>
															<div class="p-4 border border-solid border-2 rounded d-flex flex-row justify-content-between" >
																<div class="d-flex flex-row justify-content-between">
																<i class="fa fa-map-marker fa-2x"></i>
																	<p class="font-italic mb-1 ms-3">{{ moto.proprietaire.user.adresse ~ " " ~ moto.proprietaire.user.codepostal ~ " " ~ moto.proprietaire.user.ville}}</p>
																</div>
																<div class="mapouter"><div class="gmap_canvas"><iframe width="270" height="200" id="gmap_canvas" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:200px;width:270px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:200px;width:270px;}</style></div></div>
															</div>
														</div>

														<div class="mb-5 w-75">
														<p class="lead fw-normal mb-1">Propriétaire</p>
															<div class="p-4 border border-solid border-2 rounded d-flex flex-row">
																<div>
																	<img src="{{ vich_uploader_asset(moto, 'imageFile') }}" alt="{{ moto.proprietaire.user.imageName }}"
              															class="rounded-circle img-fluid" style="width: 70px;">
																</div>
																<div class="d-flex flex-column ms-3">
																	<a href="{{ path('app_proprietaire_show_public', {'id': moto.proprietaire.user.id}) }}"><p class="font-italic mb-1 h5">{{ moto.proprietaire.user.prenom }} {{ moto.proprietaire.user.nom|first }}.</p></a>
																	{# <p><i class="fa-solid fa-star" style="color: orange;"></i> {{ dump(moto.proprietaire) }}/5 </p> #}
																	<p></p>
																</div>
															</div>
														</div>

														<div class="mb-5 w-75">
															<p class="lead fw-normal mb-1">Description du véhicule</p>
															<div class="p-4 border border-solid border-2 rounded" >
																<p class="font-italic mb-1">{{ moto.description }}</p>
															</div>
														</div>

														<div class="mb-5 w-75">
															<p class="lead fw-normal mb-1">Caractéristiques techniques</p>
															<div class="p-4 border border-solid  border-2 rounded d-flex justify-content-between" >
																<div class="p-3 border border-solid border-1 rounded border-dark"><strong>Cylindrée : {{ moto.cylindree }} cm3</strong></div>
																<div class="p-3 border border-solid border-1 rounded border-dark"><strong>Poids : {{ moto.poids }} kg</strong></div>
																<div class="p-3 border border-solid border-1 rounded border-dark"><strong>Puissance : {{ moto.puissance }} ch</strong></div>
															</div>
														</div>

														<div class="mb-5 w-75">
															<p class="lead fw-normal mb-1">Options et accessoires</p>
															<div class="p-4 border border-solid  border-2 rounded d-flex justify-content-between" >
																{# BOUCLER POUR LES OPTIONS
																	<div class="p-3 border border-solid border-1 rounded border-dark"><strong>Cylindrée : {{ moto.cylindree }} cm3</strong></div>
																#}
															</div>
														</div>

														<div class="mb-5 w-75 ">
															<p class="lead fw-normal mb-1">Evaluations</p>
															<div class="p-4 border border-solid  border-2 rounded d-flex flex-column justify-content-between" >
																{# BOUCLER POUR LES OPTIONS
																	<div class="p-3 border border-solid border-1 rounded border-dark"><strong>Cylindrée : {{ moto.cylindree }} cm3</strong></div>
																#}
																{% for commentaire in moto.commentaires %} 
																	<div class="card border-0 ">
																
																		<div class="card-body">
																		{# {{ dump(commentaire)}} #}
																			{# <img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="{{ commentaire.user.imageName }}" #}

																			<a href="{{ path('app_user_show_public', {'id': commentaire.user.id}) }}">
																				<h5 class="card-title">{{ commentaire.user.prenom }} {{ commentaire.user.nom }}</h5>
																			</a>
																			<p class="card-text">{{ commentaire.textemoto }}</p>
																			{# <p><i class="fa-solid fa-star" style="color: orange;"></i> {{ commentaire.notemoto }}/5</p> #}
																				{% if commentaire.notemoto > 0 %}
																					{% for i in range(1, commentaire.notemoto) %}
																						<i class="fa-solid fa-star" style="color: orange;"></i>
																					{% endfor %}
																				{% endif %}
																		</div>
																	</div>
																{% endfor %} 
																
															</div>
														</div>

														<div class="mb-5 w-75">
															<p class="lead fw-normal mb-1">Disponibilités</p>
															<div class="p-4 border border-solid  border-2 rounded d-flex justify-content-between" >
																{# BOUCLER POUR LES OPTIONS
																	<div class="p-3 border border-solid border-1 rounded border-dark"><strong>Cylindrée : {{ moto.cylindree }} cm3</strong></div>
																#}
															</div>
														</div>

													</div>
													</div>
												</div>
												</div>
											</div>
											{# </section> #}


										</div>
			
									</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		
      



      
		{% endfor %}

	{% endblock %}


