{% extends 'base.html.twig' %}

{% block title %}Moto{% endblock %}

{% block body %}
    <h1>Moto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ moto.id }}</td>
            </tr>
            <tr>
                <th>Propriétaire</th>
                <td> <a href="{{ path('app_user_show', {'id': moto.proprietaire.user.id}) }}">{{ moto.proprietaire.user.prenom }} {{ moto.proprietaire.user.nom}}</a> </td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ moto.annee }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ moto.couleur }}</td>
            </tr>
            <tr>
                <th>PrixJour</th>
                <td>{{ moto.prixJour }}</td>
            </tr>
            <tr>
                <th>Dispo</th>
                <td>{{ moto.dispo ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>NombreNotes</th>
                <td>{{ moto.nombreNotes }}</td>
            </tr>
            <tr>
                <th>MoyenneNotes</th>
                <td>{{ moto.average }}</td>
            </tr>
            <tr>
                <th>Nombre de 1</th>
                <td>{{ moto.nombreun }}</td>
            </tr>
            <tr>
                <th>Nombre de 2</th>
                <td>{{ moto.nombredeux }}</td>
            </tr>
            <tr>
                <th>Nombre de 3</th>
                <td>{{ moto.nombretrois }}</td>
            </tr>
            <tr>
                <th>Nombre de 4</th>
                <td>{{ moto.nombrequatre }}</td>
            </tr>
            <tr>
                <th>Nombre de 5</th>
                <td>{{ moto.nombrecinq }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_moto_index') }}">back to list</a>

    <a href="{{ path('app_moto_edit', {'id': moto.id}) }}">edit</a>

    {{ include('moto/_delete_form.html.twig') }}
{% endblock %}
