{% extends 'base.html.twig' %}

{% block title %}Proprietaire{% endblock %}

{% block body %}
    <h1>Proprietaire</h1>

    {{ dump( proprietaire.motos) }}
    
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proprietaire.id }}</td>
            </tr>
            <tr>
                <th>EstSuperHote</th>
                <td>{{ proprietaire.estSuperHote ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IBAN</th>
                <td>{{ proprietaire.IBAN }}</td>
            </tr>
            <tr>
                <th>Nombre motos</th>
                <td>{{ proprietaire.nombremotos }}</td>
            </tr>
            <tr>
                <th>Moyenne</th>
                {# <td>{{ proprietaire.average }}</td> #}
            </tr>
            <tr>
                <th>Nombre de 1</th>
                {# <td>{{ proprietaire.nombreun }}</td> #}
            </tr>
            <tr>
                <th>Nombre de 2</th>
                {# <td>{{ proprietaire.nombredeux }}</td> #}
            </tr>
            <tr>
                <th>Nombre de 3</th>
                {# <td>{{ proprietaire.nombretrois }}</td> #}
            </tr>
            <tr>
                <th>Nombre de 4</th>
                {# <td>{{ proprietaire.nombrequatre }}</td> #}
            </tr>
            <tr>
                <th>Nombre de 5</th>
                {# <td>{{ proprietaire.nombrecinq }}</td> #}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_proprietaire_index') }}">back to list</a>

    <a href="{{ path('app_proprietaire_edit', {'id': proprietaire.id}) }}">edit</a>

    {{ include('proprietaire/_delete_form.html.twig') }}
{% endblock %}
